@charset "UTF-8";
html,
body {
    margin: 0;
    height: 100%;
}

.Aligner {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.Aligner-item {
    max-width: 100%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.holder {
    float: left;
    width: 32%;
    margin: 5px;
}

.image2 {
    float: left;
    width: 33.33%;
    height: 100% opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

li:nth-child(2)>.image2 {
    animation-delay: 1s;
}

li:nth-child(3)>.image2 {
    animation-delay: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.img-list li {
    display: inline-block;
    height: 100%;
    margin: 0px;
    position: relative;
    width: 100%;
}

span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 410px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h2::first-letter {
    color: #000;
    font-size: xx-large;
}


/*hover over hotel feature classes*/

@media (orientation: landscape) {
    .hotel-class {
        width: 29%;
        float: left;
        margin: 2%;
        display: inline-block;
    }
}

.hotel-image {
    display: block;
    width: 100%;
    height: auto;
}

.hotel-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.hotel-text {
    color: white;
    font-size: 14px;
    margin-top: 0;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.hotel-container {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.hotel-overlay {
    font-family: "Erato Light";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.75);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) {
    .hotel-container:hover .hotel-overlay {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .hotel-overlay {
        font-family: "Erato Light";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        transition: 0.5s ease;
        background-color: rgba(0, 0, 0, 0.25);
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
    }
}

.hotel-image {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover
}

@media (min-width: 700px) and (orientation: portrait) {
    .hotel-class {}
}

@media (max-width: 650px) and (min-width: 450px) {
    .hotel-class {
        width: 29%;
        float: left;
        margin: 2%;
        display: inline-block;
    }
    .hotel-title {
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    }
    .hotel-text {
        color: white;
        font-size: 12px;
        margin-top: 0;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    }
}


/*end hover over hotel feature classes*/


/* Text for cover photo */

.coverphoto {
    /* The image used */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/wedding-website-d3f9d.appspot.com/o/images%2F15.jpg?alt=media&token=1455cbfd-2b5d-4f1c-8329-f0e3549b2af2");
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.textimage {
    position: absolute;
    top: 35%;
    right: 2%;
    width: 50%;
    font-family: "Steelworks";
    color: white;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
}

@media (min-width: 700px) {
    .coverphoto {
        /* The image used */
        background-image: url("https://firebasestorage.googleapis.com/v0/b/wedding-website-d3f9d.appspot.com/o/images%2F15.jpg?alt=media&token=1455cbfd-2b5d-4f1c-8329-f0e3549b2af2");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textimage {
        position: absolute;
        top: 50%;
        right: 2%;
        width: 50%;
        font-family: "Steelworks";
        color: white;
        font-size: 90px;
        text-align: center;
        white-space: nowrap;
    }
}

@media (min-width: 700px) and (orientation: landscape) {
    .coverphoto {
        /* The image used */
        background-image: url("https://firebasestorage.googleapis.com/v0/b/wedding-website-d3f9d.appspot.com/o/images%2F15.jpg?alt=media&token=1455cbfd-2b5d-4f1c-8329-f0e3549b2af2");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textimage {
        position: absolute;
        top: 50%;
        right: 1%;
        width: 50%;
        font-family: "Steelworks";
        color: white;
        font-size: 4em;
        text-align: center;
        white-space: nowrap;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .coverphoto {
        /* The image used */
        background-image: url("https://firebasestorage.googleapis.com/v0/b/wedding-website-d3f9d.appspot.com/o/images%2F15.jpg?alt=media&token=1455cbfd-2b5d-4f1c-8329-f0e3549b2af2");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textimage {
        position: absolute;
        top: 50%;
        right: 1.5%;
        width: 50%;
        font-family: "Steelworks";
        color: white;
        font-size: 2.5em;
        text-align: center;
        white-space: nowrap;
    }
}

.party {
    height: 100vh;
}

.registry {
    height: 100vh;
}

@media (max-width: 700px) and (orientation: landscape) {
    .registry {
        height: 115vh;
    }
}

.details {
    height: 100vh;
}

.gallery {
    height: 100vh;
}

.textimage::first-line {
    color: white;
    font-size: 200%;
}

.title-row {
    font-family: "Playfair";
    font-size: 80px;
    color: black;
    text-align: center;
    padding-top: 45px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

#ceremony.ceremony {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wedding-date {
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-shadow {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

b {
    font-family: "Erato Light";
    font-weight: bold;
    font-size: 18px;
}
